.has-auth-code {
  margin-top: 2em;
  .auth-token-label {
    font-weight: bold;
  }
  .auth-token {
    margin-top: 0.5em;
    padding: 0.2em;
    border: 1px solid #ccc;
  }
}

.no-auth-code {
   margin-top: 2em;
   .btn {
     width: 200px;
   }
}