.checkboxes {
  input {
    margin: 0 6px 0 0;
  }
  .checkbox_container {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 15px;
    text-transform: capitalize;
    &:first-child {
      margin: 0;
    }
  }
}

.btn-file {  
  position: relative;
  overflow: hidden;
  input {
    position: absolute;
    top: -5px;
    right: -5px;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }
}