.portal-backlink {
  margin-top: 2em;
}

.nav-pills.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.save-files.unavailable {
  opacity: 0.5;
  pointer-events: none;
}

.date-picker-group{
  height: 34px;

  input{
    height: 34px;
    border: 1px solid #CCCCCC;
  }
}
