/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  &.common {
    #content {
      margin: 0 auto -230px;
      padding: 71px 0 230px;
    }
    &.pages-home {
      #content {
        padding-top: 0;
      }
    }
  }
}

#content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}